header {
  padding: 20px 0;   
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}
.logo {
  color: var(--secondary-color);
  font-size: 1.2em;
  user-select: none;
}
nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  width: 100%;
}
nav ul {
  display: none;
  list-style: none;
}
nav ul li {
  color: white;
  margin: auto 25px;
}
nav ul li:hover {
  color: var(--main-color);
}
@media screen and (min-width: 992px) {
  /* nav {
    display: flex;
    justify-content: space-between;
  } */
  nav ul{
    display: flex;
    justify-self: flex-end;
  }
}