.detail {
  background-color: white;
}
.detail img {
  width: 100%;
  max-height: 560px;
}
.detail .name {
  font-weight: bold;
}
.detail-header {
  margin-top: -15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: white;
  position: relative;
  padding: 10px;
}
.cityText {
  font-weight: bold;
  color: var(--main-color);
  margin: 5px 0;
}
.badge-wrapper {
  display: flex;
  justify-content: end;
}
.badge {
  /* background: rgb(234,84,85); */
  /* background: linear-gradient(286deg, rgb(234,84,85) 0%, rgb(249,160,173) 48%, rgb(246,114,128) 100%); */
  border-radius: 10px;
  background-color: var(--main-color);
  min-width: 75px;
  min-height: 30px;
  margin: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}
.btnLove {
  border: none;
  border-radius: 45%;
  color: white;
  background-color: var(--primary-color);
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 15px;
}
.detail-description {
  padding: 15px;
  text-align: justify;
}
/* 
  MENU
*/
.detail-menu {
  display: grid;
  grid-template-rows: 1fr max-content;
  grid-template-columns: repeat(2,1fr);
  grid-template-areas: 
  "title title"
  "foods drinks";
  padding: 15px;
}
.detail-menu i {
  margin-right: 4px;
}
.detail-menu .menu{
  grid-area: title;
  margin-bottom: 10px;
}
.foods{
  grid-area: foods;
  margin-bottom: 6px;
  background-color: rgba(144, 255, 126, .3);
}
.foods-item {
  background-color: antiquewhite;
  height: max-content;
  margin: 10px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}
.drinks-title {
  text-align: center;
}
.foods-title{
  text-align: center;
}
.drinks{
  grid-area: drinks;
  margin-left: 12px;
  margin-bottom: 6px;
  background-color: rgba(126, 255, 230, .3);
}
.drinks-item {
  background-color: antiquewhite;
  height: max-content;
  margin: 10px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

/* .loved {
  color: var(--secondary-color);
} */
@media screen and (min-width: 576px) {
  .detail-header {
    padding: 1.2em;
  }
  .drinks{
    display: flex;
    flex-direction: column;
  }
  .foods{
    display: flex;
    flex-direction: column;
  }
}