.image-notFound-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-notFound img {
  width: 100%;
  margin-top: -60px;
  opacity: .6;
}
.NotFound-text {
  padding-top: 10px;
  margin-bottom: 25px;
  text-align: center;
  z-index: 1;
  opacity: .7;
}
.direct-home{
  color: var(--secondary-color);
  font-weight: bold;
  text-decoration: underline;
}
@media screen and (min-width: 992px){
  .image-notFound img {
    max-width: 550px;
    max-height: 550px;
  }
}