.form-review {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  background-color: azure;
  text-align: center;
  padding: 15px;
}
.input-review{
  margin: 8px;
  width: 90%;
}
.btn-submit{
  padding: 0 10px;
  background-color: var(--main-color);
  border: none;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  width: 90%;
}
.btn-submit:hover{
  background-color: var(--secondary-color);
}